<html>
    <head>
      <title>Chatroom</title>
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

  </head>
  <body>
<!--     <div><a href="/">Chatroom Menu</a></div>
		
    <hr> -->
    {% if session['logged_in'] %}
   
	{% if data %}
	<h3>{{data}}</h3>
	{% else %}
    <header>
      <div class="container">
        <h1 class="logo">ChatBot</h1>
        <strong><nav>
          <ul class="menu">
          	<li><a href="/">Home</a> </li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/chatroom">Goto chatroom</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
<!-- <p>You're logged in already!</p> -->
	{% endif %}

{% else %}
    <header>
      <div class="container">
        <h1 class="logo">Chat Menu</h1>
        <strong><nav>
          <ul class="menu">
          	<li><a href="/">Home</a> </li>
            <li><a href="/login">Login</a> </li>
           <li><a href="/register">Register</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
<!-- <p>You are not logged in!</p>
<p>Please Login To Continue</p> -->


{% endif %}
    {% block content %}{% endblock %}
  </body>
</html>