{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>You Are Already Logged in!</p>
<p>Please Logout To Register</p>
<a href="/logout">Logout</a> <br> <br>
<a href="/chatroom">Goto chatroom</a>
{% else %}
<body>
<h2>Register</h2>
<form action="/register/" method="POST">
	<div class="login">
		<div class="login-screen">

			<div class="login-form">
				<div class="control-group">
				<input type="username" name="username" placeholder="Username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" name="password" placeholder="Password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" value="Sign Up">
			    <br>
			</div>
		</div>
	</div>
</form>

<!-- <form action="/register/" method="POST">
  <input type="username" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Sign Up">
</form> --></body>
{% endif %}
{% endblock %}